<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TruckSecurity</title>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/table.css">
    <script>
     const data={{{data}}}
    </script>
    <script src="/truckSecurity.js"></script>
</head>


<body>
  <nav style="width: 100%" class="navbar navbar-dark bg-primary ">
        <h1 style="color: beige; text-align: center">BTC ROAD LINES PRIVATE LTD</h1>
   </nav>
  <h1 style="text-align: center">Truck Security Details</h1>
   <table class="table table-bordered">
  <thead>
    <tr id='headrow'>
      <th scope="col">Sr</th>
      <th scope="col">Port</th>
      <th scope="col">PartyName</th>
      <th scope="col">UnLoadingDate</th>
      <th scope="col">TruckNo</th>
      <th scope="col">LrNo</th>
      <th scope="col">UnloadingWeight</th>
      <th scope="col">Tds</th>
      <th scope="col">Shortage</th>
      <th scope="col">Frate</th>
      <th scope="col">ChallanCharge</th>
      <th scope="col">OfficeCharge</th>
      <th scope="col">Security</th>
      <th scope="col">AmountPaid</th>
      <th scope="col">AccountNO</th>
      <th scope="col">HolderName</th>
      <th scope="col">IFSC</th>
      <th scope="col">Remarks</th>
    </tr>
  </thead>
  <tbody id='body'>
    {{!-- <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry the Bird</td>
      <td>@twitter</td>
      <td>Dheme dheme set mera seeen h seen h seen h seenh gori tubada shamati h</td>
    </tr> --}}
  </tbody>
</table>
</body>
</html>